[run]
source = api, eggtimer, periods
# branch = True  # This messes up template coverage, so disable for now
omit = *tests*
    */migrations/*
    *__init__.py*
    *settings*
plugins =
    django_coverage_plugin
