[run]
source = api, eggtimer, periods
# When new version of coverage is out, enable branch
#branch = True
omit = *tests*
    */migrations/*
    *__init__.py
    *settings*
plugins =
    django_coverage_plugin
