{% extends "base.html" %}

{% block title %}Qigong Cycles{% if user.get_profile %} for {{ user.get_profile.full_name }}{% endif %}{% endblock %}

{% block head %}
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/d3.v3/d3.v3.js'></script>
{% endblock %}

{% block content %}
    <h3>Qigong Cycles{% if user.get_profile %} for {{ user.get_profile.full_name }}{% endif %}</h3>

    {% if not birth_date %}

        Enter your birth date to calculate where you are in your qigong cycles!

        <form>
            <div class="form-group">
                <label class="control-label" for="id_birth_date">Birth Date</label>
                <div class=" ">
                    <input id="id_birth_date" type="date" class="date form-control" name="birth_date" placeholder="YYYY/MM/DD">
                </div>
            </div>
            <button type="submit" class="btn btn-default spacing_top">Calculate</button>
        </form>

    {% else %}

        <div><span class="control-label">Birth date: </span><span>{{ birth_date.date }}</span></div>
        <br>

        <table class="table table-bordered">
            <tr><th>Type</th><th>Day</th><th>Phase</th><th>Level</th></tr>
            <tr><td>Physical</td><td>{{ cycles.physical.day }}</td><td>{{ cycles.physical.phase }}</td><td>{{ cycles.physical.level }}</td></tr>
            <tr><td>Emotional</td><td>{{ cycles.emotional.day }}</td><td>{{ cycles.emotional.phase }}</td><td>{{ cycles.emotional.level }}</td></tr>
            <tr><td>Intellectual</td><td>{{ cycles.intellectual.day }}</td><td>{{ cycles.intellectual.phase }}</td><td>{{ cycles.intellectual.level }}</td></tr>
        </table>

    {% endif %}

    {% if bins %}

    <h4>Cycle Length Frequency</h4>

    <script>

        // A formatter for counts.
        var formatCount = d3.format(",.0f");

        var width = $(window).width() - 20;
        var height = Math.round($(window).height() * 0.80);
        var padding = {top: 15, right: 15, bottom: 50, left: 30};

        var data = d3.layout.histogram()
                .bins({{ bins }})
                ({{ cycle_lengths|safe }});

        var xScale = d3.scale.ordinal()
                .domain(data.map(function (d) {
                    return d.x;
                }))
                .rangeRoundBands([0, width - padding.left - padding.right], .1);

        var ymax = d3.max(data, function (d) {
            return d.y;
        });
        var yScale = d3.scale.linear()
                .domain([0, ymax])
                .rangeRound([height - padding.bottom, padding.top]);

        var svg = d3.select("body")
                .append("svg")
                .attr("width", width)
                .attr("height", height)

        var bar = svg.selectAll(".bar")
                .data(data)
                .enter().append("g")
                .attr("class", "bar")
                .attr("transform", function (d) {
                    return "translate(" + xScale(d.x) + ", " + yScale(d.y) + ")"
                });

        bar.append("rect")
                .attr("data-placement", "top")
                .attr("width", xScale.rangeBand())
                .attr("height", function (d) {
                    return height - yScale(d.y) - padding.bottom;
                });

        bar.append("text")
                .attr("dy", ".75em")
                .attr("y", 6)
                .attr("x", function (d) {
                    return xScale.rangeBand() * (d.dx - data[0].dx + 0.5);
                })
                .attr("text-anchor", "middle")
                .text(function (d) {
                    return formatCount(d.y);
                });

        // Axis
        var xAxis = d3.svg.axis()
                .scale(xScale)
                .orient("bottom")
                .tickSize(6, 0);

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + (height - padding.bottom) + ")")
                .call(xAxis);

        svg.append("text")
                .attr("class", "x label")
                .attr("text-anchor", "middle")
                .attr("x", width / 2)
                .attr("y", height - 4)
                .text("Cycle Length (days)");

        svg.append("text")
                .attr("class", "y label")
                .attr("text-anchor", "center")
                .attr("x", -height / 2)
                .attr("y", 18)
                .attr("transform", "rotate(-90)")
                .text("Number of Cycles");

    </script>

    {% else %}

    {% endif %}
{% endblock %}
