{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="">
{% csrf_token %}

{{ form|bootstrap }}

<button type="submit" class="btn btn-default spacing_top">Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
    <br/>
    <p>
    Not a member? <a href="{% url 'registration_register' %}">Register now!</a>
    </p>
    <p>
    Forgot your <a href="{% url "password_reset_recover" %}">password?</a>
    </p>

{% endblock %}
