{% extends "base.html" %}

{% block title %}Periods for {{ user.username }}{% endblock %}

{% block head %}
	<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}fullcalendar/fullcalendar.css' />
    <script type='text/javascript' src='{{ STATIC_URL }}fullcalendar/fullcalendar.js'></script>

	<script type='text/javascript'>
		$(document).ready(function() {
            $('#calendar').fullCalendar({
                events: function(start, end, callback) {
                    $.ajax({
                        url: '{{ periods_url }}',
                        dataType: 'json',
                        data: {
                            start_date__gte: start.toJSON().split('T')[0],
                            start_date__lte: end.toJSON().split('T')[0]
                        },
                        success: function(doc) {
                            var events = [];
                            $(doc.objects).each(function() {
                                var event = {
                                    title: 'period',
                                    start: $(this).attr('start_date'),
                                    period_id: $(this).attr('id'),
                                    color: '#0f76ed'
                                };

                                var eventType = $(this).attr('type');
                                if (eventType == 'projected period') {
                                    event.title = eventType;
                                    event.color = 'darkred';
                                } else if (eventType == 'projected ovulation') {
                                    event.title = eventType;
                                    event.color = 'purple';
                                } else if (eventType == 'day count') {
                                    event.title = $(this).attr('text');
                                    event.color = '#ffffff';
                                    event.textColor = '#666666';
                                    event.editable = false;
                                }

                                events.push(event);
                            });
                            callback(events);
                        }
                    });
                },
                dayClick: function() {
                    var start_date = arguments[0].toJSON().split('T')[0];
                    var data = {'start_date': start_date};
                    var now = new Date();
                    if (arguments[0].getDate() == now.getDate()) {
                        data['start_time'] = now.toLocaleTimeString();
                    }
                    $.ajax({
                        url: '{{ periods_url }}',
                        contentType: 'application/json',
                        type: 'POST',
                        data: JSON.stringify(data),
                        // The ``X-CSRFToken`` evidently can't be set in the
                        // ``headers`` option, so force it here.
                        // This method requires jQuery 1.5+.
                        beforeSend: function(jqXHR, settings) {
                            // Pull the token out of the DOM.
                            jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
                        },
                        success: function(data, textStatus, jqXHR) {
                            console.log("Period created starting on " + start_date);
                            $('#calendar').fullCalendar( 'refetchEvents' );
                        }
                    });

                },
                eventClick: function() {
                    var period_id = arguments[0].period_id;
                    $.ajax({
                        url: '{{ periods_url }}' + period_id + '/',
                        contentType: 'application/json',
                        type: 'DELETE',
                        // The ``X-CSRFToken`` evidently can't be set in the
                        // ``headers`` option, so force it here.
                        // This method requires jQuery 1.5+.
                        beforeSend: function(jqXHR, settings) {
                            // Pull the token out of the DOM.
                            jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
                        },
                        success: function(data, textStatus, jqXHR) {
                            console.log("Period " + period_id + " deleted.");
                            $('#calendar').fullCalendar( 'refetchEvents' );
                        }
                    });

                }
            })
        });
	</script>
{% endblock %}

{% block content %}
	<h3>Periods for {{ user.username }}</h3>

{#    TODO Would be nice to put current month in URL so reloading doesn't lose it    #}
    <div id='calendar'></div>
    <!-- Include the CSRF token in the body of the HTML -->
    {% csrf_token %}
{% endblock %}
