{% extends "base.html" %}

{% block title %}Statistics for {{ user.username }}{% endblock %}

{% block head %}
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/statistics.js'></script>
{% endblock %}

{% block content %}
    <h3>Statistics for {{ user.username }}</h3>

    <table class="table-condensed">
        <tr><th>Average Cycle Length:</th><td>{{ userprofile.statistics.average_cycle_length }}</td></tr>
    </table>

    {% if bins %}

        <h4>Cycle Length Frequency</h4>

        <script type="text/javascript">
            cycle_length_frequency({{ bins }}, {{ cycle_lengths|safe }});
        </script>

        <h4>Cycle Length History</h4>

        <script type="text/javascript">
            cycle_length_history('{{ periods_url }}');
        </script>

    {% else %}

        Not enough cycle information has been entered to calculate statistics. :(

    {% endif %}
{% endblock %}
