orbs:
  heroku: circleci/heroku@1.2.5
version: 2.1
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - heroku/deploy-via-git:
          post-steps:
            - run:
              command: |
                heroku run python manage.py migrate --app $HEROKU_APP_NAME
                deploy_date=`date "+%FT%T%z"`
                heroku config:set --app=$HEROKU_APP_NAME DEPLOY_DATE="$deploy_date"
              name: Set deploy date
          requires:
            - build
          filters:
            branches:
              only: master
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8-jessie-node
        environment:
          DATABASE_URL: postgresql://root@localhost/circle_test?sslmode=disable
          DJANGO_SETTINGS_MODULE: eggtimer.settings
          DJANGO_DEBUG: 1
          DJANGO_ENABLE_SSL: 0
      - image: circleci/postgres:9.6.5-alpine-ram
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
          POSTGRES_PASSWORD: ""
    steps:
      - checkout
      - restore_cache:
          key: deps-py-{{ .Branch }}-{{ checksum "requirements/development.txt" }}
      - restore_cache:
          key: deps-npm-{{ .Branch }}-{{ checksum "package.json" }}
      - restore_cache:
          key: deps-bower-{{ .Branch }}-{{ checksum "bower.json" }}
      - run:
          # https://discuss.circleci.com/t/circleci-python-docker-images-disallow-pip-install-due-to-directory-ownership/12504
          name: Install Python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements/development.txt
      - save_cache:
          key: deps-py-{{ .Branch }}-{{ checksum "requirements/development.txt" }}
          paths:
            - "venv"
      - save_cache:
          key: deps-npm-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - save_cache:
          key: deps-bower-{{ .Branch }}-{{ checksum "bower.json" }}
          paths:
            - "bower_components"
      - run:
          command: |
            npm install
            . venv/bin/activate
            flake8
            node_modules/.bin/jshint */static/*/js
            coverage run manage.py test
            node_modules/.bin/mocha */tests/static/*/js/*
            node_modules/.bin/mocha --reporter mocha-lcov-reporter */tests/static/*/js/* > coverage.info
            node_modules/.bin/lcov-parse coverage.info > coverage.json
            PYTHONPATH=. coveralls --merge coverage.json
