body {
    margin: 10px;
}

h1 {
    margin-top: 0px;
    font-size: 24pt;
    font-weight: bold;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    color: black;
}

.my-form-control {
    width: auto;
    display: inline;
    margin-left: 5px;
    margin-bottom: 5px;
}
.my-control-label {
    display: inline;
}

.logo {
    margin-bottom: 0px;
}

.small {
    font-size: 12pt;
}

.center {
    width: 100%;
    text-align: center;
}

p.error_message {
    color: red;
}

.right {
    float: right;
}

.spacing_top {
    margin-top: 10px;
}

.glyphicon-lg {
  font-size: 18px;
  line-height: 1.33;
}

.statistics {
    padding-top: 10px;
    width: 90%;
}

.footer {
    padding-top: 6px;
    font-size: 10pt;
    color: grey;
}
