<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <link rel="stylesheet" href="{% static 'jquery-ui/themes/smoothness/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap3-dialog/dist/css/bootstrap-dialog.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen">

  <title>{% block title %}{% endblock %}</title>

  {% block extra_head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top my-navbar">
  {% if not user.is_anonymous %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'calendar' %}">
        <span class="glyphicon-lg glyphicon glyphicon-calendar"></span>
      </a></li>
      <li><a href="{% url 'statistics' %}">
        <span class="glyphicon-lg glyphicon glyphicon-stats"></span>
      </a></li>
      <li><a href="{% url 'user_profile' %}">
        <span class="glyphicon-lg glyphicon glyphicon-user"></span>
      </a></li>
      <li><a href="{% url 'account_logout' %}">
        <span class="glyphicon-lg glyphicon glyphicon-log-out"></span>
      </a></li>
    </ul>
  {% endif %}

  <div class="navbar-header">
    <a class="brand" href="{% url 'calendar' %}">
      <img src="{% static 'img/logo.png' %}" alt="egg timer logo">
      <span>egg timer</span><br>
      <span class="small">know your cycles</span>
    </a>
  </div>
</nav>

<div class="content">
  {% block content %}{% endblock %}
</div>

{% block footer %}
  <div class="footer">
    <div class="center">
      <div>Bugs? Feature requests? Please
        <a target="_blank" href="https://github.com/jessamynsmith/eggtimer-server/issues">contact us</a>!
        <span class="mobile_hidden">
          <a target="_blank" href="https://github.com/jessamynsmith/eggtimer-server">Source code</a> here.
            <br>
            Like my work? Tip me! <a target="_blank" href="https://www.paypal.me/jessamynsmith">https://www.paypal.me/jessamynsmith</a>
        </span>
      </div>

      <div class="grey">Version {{ VERSION }}, Deployed
        {{ DEPLOY_DATE|date:"M d, Y, H:i:s e" }}
      </div>
    </div>
  </div>
{% endblock %}

  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery.serializeJSON/jquery.serializejson.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap3-dialog/dist/js/bootstrap-dialog.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

{% block extra_js %}{% endblock %}

</body>
</html>
