{% extends "base.html" %}

{% block title %}Periods for {{ user.get_full_name }}{% endblock %}

{% block head %}

	<link rel='stylesheet' type='text/css'
          href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.css' />
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script type='text/javascript'
            src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/calendar.js'></script>

	<script type='text/javascript'>
		$(document).ready(function() {
            initializeCalendar('{{ periods_url }}');
        });
	</script>
{% endblock %}

{% block content %}
	<h3>Periods for {{ user.get_full_name }}</h3>

{#    TODO Would be nice to put current month in URL so reloading doesn't lose it    #}
    <div id='calendar'></div>
{% endblock %}
