{% extends "base.html" %}
{% load static %}

{% block title %}Periods for {{ user.get_full_name }}{% endblock %}

{% block head %}
    <link rel='stylesheet' type='text/css'
          href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" >
    <link rel="stylesheet" href="{% static 'periods/css/calendar.css' %}" type="text/css" media="screen" >

    <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'periods/js/calendar.js' %}"></script>

	<script type='text/javascript'>
		$(document).ready(function() {
            initializeCalendar('{{ periods_url }}', '{{ statistics_url }}', '{{ period_form_url }}',
                '{{ request.user.timezone.zone }}');
        });
	</script>
{% endblock %}

{% block content %}
    <div id='id_calendar'></div>
{% endblock %}
