{% extends "base.html" %}

{% block title %}Account Information for {{ user.get_full_name }}{% endblock %}

{% block content %}
	<h3>Account Info for {{ user.get_full_name }}</h3>

    <div>
    <a href="{% url 'qigong_cycles' %}">Medical Qigong Cycles</a>
    </div>

    <div>
    <a href="{% url 'account_change_password' %}">Change Your Password</a>
    </div>

    <h4>User Profile</h4>
    <div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default">Update</button>
    </form>
    </div>

    <h4>API Information</h4>
    <div>
    <form method="post" action="{% url 'regenerate_key' %}">
        {% csrf_token %}
        <label for="id_api_key">API key: </label>
        <input id="id_api_key" type="text" name="api_key" value="{{ user.api_key.key }}" size="50" readonly>
        <button type="submit" class="btn btn-default">Regenerate</button>
    </form>
    </div>

    <div>
    To add a period (start_time is optional):<br/>
        curl -v -k -X POST -H "Content-Type: application/json" --data '{"start_date": "YYYY-MM-DD", "start_time": "HH:MM:SS"}' "{{ periods_url }}"

    <br/>
    <br/>
    To list periods:<br/>
    curl -v -k -X GET -H "Content-Type: application/json" "{{ periods_url }}" | python -m json.tool
    </div>

{% endblock %}
