{% extends "base.html" %}

{% block title %}Medical Qigong Energetic Cycles{% if user.get_full_name %} for {{ user.get_full_name }}{% endif %}{% endblock %}

{% block head %}
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js'></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/qigong_cycles.css" type="text/css" media="screen" />

    <script type='text/javascript' src='{{ STATIC_URL }}js/qigong_cycles.js'></script>

    <script type="text/javascript">
		$(document).ready(function() {
            qigong_cycles({{ tick_values|safe }}, {{ cycles.physical.data|safe }},
                {{ cycles.emotional.data|safe }}, {{ cycles.intellectual.data|safe }},
                {{ cycles.physical.level }}, {{ cycles.emotional.level }}, {{ cycles.intellectual.level }},
                "{{ start }}", "{{ today }}");
        });
    </script>
{% endblock %}

{% block content %}
    <h3>Medical Qigong Energetic Cycles{% if user.get_full_name %} for {{ user.get_full_name }}{% endif %}</h3>

    <p>In <a href="http://www.medicalqigong.org/">Medical Qigong</a> theory, your physical, emotional, and intellectual energetic cycles begin the moment
        you are born, and continue throughout your lifetime.</p>

    {% if not birth_date %}
        <p>Enter your birth date to calculate your current cycle status!</p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if error %}
                    <p class="error_message">{{ error }}</p>
                {% endif %}
                <label for="id_birth_date">Birth Date: </label>
                <input id="id_birth_date" type="text" name="birth_date" value="{{ birth_date }}" placeholder="YYYY-MM-DD">
            </div>
            <button type="submit" class="btn btn-default spacing_top">Calculate</button>
        </form>

    {% else %}

        <table class="table-condensed">
            <tr><th>Birth date:</th><td>{{ birth_date }}</td></tr>
            <tr><th>Today:</th><td>{{ today_with_year }}</td></tr>
        </table>
        <br/>

        <table class="table table-bordered">
            <tr>
                <th>Type</th>
                <th>Cycle Length</th>
                <th>Day</th>
                <th>Phase</th>
                <th>Level</th>
            </tr>

            {% for cycle_name, cycle_info in cycles.items %}
            <tr>
                <td class="{{ cycle_name }}">{{ cycle_name|title }}</td>
                <td>{{ cycle_info.length }}</td>
                <td>{{ cycle_info.day }}</td>
                <td>{{ cycle_info.phase }}</td>
                <td>{{ cycle_info.level }}%</td>
            </tr>
            {% endfor %}
        </table>

        <br/>

    {% endif %}

    <br/>
    <br/>
    <p>This information is based on the description in the excellent textbook <a href="http://bookstore.qigongmedicine.com/product/volume-1-chinese-medical-qigong-therapy-energetic-anatomy-and-physiology/">"Chinese Medical Qigong Therapy, Volume 1"</a>, by Professor Jerry Alan Johnson, Ph.D., D.T.C.M, D.M.Q. (China)</p>
{% endblock %}
