{% extends "base.html" %}

{% block title %}Statistics for {{ user.get_full_name }}{% endblock %}

{% block head %}
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/statistics.js'></script>
{% endblock %}

{% block content %}
    <h3>Statistics for {{ user.get_full_name }}</h3>

    <table class="table-condensed">
        <tr><th>Number of Cycles:</th><td>{{ num_cycles }}</td></tr>
        <tr><th colspan="2">Cycle Length Statistics</th></tr>
        <tr><td>Average (rounded):</td><td>{{ user.statistics.average_cycle_length }}</td></tr>
        <tr><td>Minimum:</td><td>{{ user.statistics.cycle_length_minimum }}</td></tr>
        <tr><td>Maximum:</td><td>{{ user.statistics.cycle_length_maximum }}</td></tr>
        <tr><td>Mean:</td><td>{{ user.statistics.cycle_length_mean }}</td></tr>
        <tr><td>Median:</td><td>{{ user.statistics.cycle_length_median }}</td></tr>
        <tr><td>Mode:</td><td>{{ user.statistics.cycle_length_mode }}</td></tr>
        <tr><td>Standard Deviation:</th><td>{{ user.statistics.cycle_length_standard_deviation }}</td></tr>
    </table>

    {% if bins %}

        <script type="text/javascript">
            cycle_length_frequency({{ bins }}, {{ cycle_lengths|safe }});
        </script>

        <script type="text/javascript">
            cycle_length_history({{ cycles|safe }});
        </script>

    {% else %}

        Not enough cycle information has been entered to calculate statistics. :(

    {% endif %}
{% endblock %}
