{% extends "account/base.html" %}

{% load i18n static bootstrap static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h2>{% trans "Change Password" %}</h2>
        </div>
    </div>

    <form class="password_change form-horizontal" method="POST" action="{% url 'account_change_password' %}"
         data-notify-type="password_update">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-2 col-lg-2"></div>
            <div class="col-sm-10 col-lg-10">
                <span class="pull-right">
                <a class="btn btn-default" href="javascript:history.back();">{% trans "Cancel" %}</a>
                <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
                </span>
            </div>
        </div>

    </form>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/all_fields_required.js' %}"></script>
{% endblock %}
