{% extends "account/base.html" %}

{% load i18n static bootstrap %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">

            <h2>{% trans "Password Reset" %}</h2>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
    </div>

    <form class="password_reset form-horizontal" method="POST"
          action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-2 col-lg-2"></div>
            <div class="col-sm-10 col-lg-10">
                <button class="btn btn-primary" type="submit">{% trans "Reset Password" %}</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <p>
                {% blocktrans with admin_email=ADMINS.0.1 %}Please
                    <a href="mailto:{{ admin_email }}">contact us</a> if you have any
                    trouble resetting your
                    password.{% endblocktrans %}
            </p>
        </div>
    </div>

{% endblock %}
