{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}
                {% trans "Change Password" %}{% endif %}</h2>
        </div>
    </div>

    {% if token_fail %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has
                    already been
                    used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                    .{% endblocktrans %}</p>
            </div>
        </div>
    {% else %}
        {% if form %}
            <form class="form-horizontal" method="POST" action=".">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <div class="form-group">
                    <div class="col-sm-2 col-lg-2"></div>
                    <div class="col-sm-10 col-lg-10">
                        <input class="btn btn-primary" type="submit" name="action"
                               value="{% trans 'change password' %}"/>
                    </div>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
