<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen" />

	<title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>

<h1>the egg timer</h1>
<span class="small">Keep track of your cycles</span>

{% if not user.is_anonymous %}
    <span class="small right">
        <a href="{% url calendar %}">Calendar</a> |
        <a href="{% url statistics %}">Statistics</a> |
        <a href="{% url user_profile %}">Account</a> |
        <a href="{% url auth_logout %}">Log out</a>
    </span>
{% endif %}

<p>
{% block content %}{% endblock %}
</p>

{% block footer %}
{% endblock %}

</body>
</html>
