<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    {% load staticfiles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen" />

	<title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>

{% if not user.is_anonymous %}
    <span class="right spacing_top">
        <a href="{% url calendar %}"><span class="glyphicon glyphicon-calendar"></span></a>&nbsp;&nbsp;
        <a href="{% url statistics %}"><span class="glyphicon glyphicon-stats"></span></a>&nbsp;&nbsp;
        <a href="{% url user_profile %}"><span class="glyphicon glyphicon-user"></span></a>&nbsp;&nbsp;
        &nbsp;&nbsp;<a href="{% url auth_logout %}"><span class="glyphicon glyphicon-log-out"></span></a>
    </span>
{% endif %}

<h1 class="logo">the egg timer</h1>
<span class="small">keep track of your cycles</span>

<p class="spacing_top">
{% block content %}{% endblock %}
</p>

{% block footer %}
{% endblock %}

</body>
</html>
