body {
    margin: 10px;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
}

h1 a {
    color: black;
}

.logo {
    margin-bottom: 0px;
}

.small {
    font-size: 12pt;
}

p.error_message {
    color: red;
}

.right {
    float: right;
}

.spacing_top {
    margin-top: 10px;
}

/* d3 graph formatting */
.bar rect {
    fill: #0f76ed;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
    font-size: 10pt;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tick text {
    font-size: 10pt;
}
