body {
    padding-top: 50px;
    margin: 10px;
}

.my-form-control {
    width: auto;
    display: inline;
    margin-left: 5px;
    margin-bottom: 5px;
}
.my-control-label {
    display: inline;
}

.small {
    font-size: 12px;
    line-height: 10px;
}

.center {
    width: 100%;
    text-align: center;
}

p.error_message {
    color: red;
}

.right {
    float: right;
}

.spacing_top {
    margin-top: 10px;
}

.glyphicon-lg {
  font-size: 18px;
  line-height: 1.33;
}

.statistics {
    padding-top: 10px;
    width: 90%;
}

.my-navbar a, .navbar-default .navbar-nav > li > a {
    color: #700a0a;
    text-decoration: none;
}

.brand {
    float: left;
    font-weight: bold;
    font-size: 22px;
    line-height: 18px;
    height: 50px;
    padding-top: 8px;
    padding-left: 10px;
    white-space: nowrap;
}

.brand img {
    float: left;
    margin-top: 2px;
    margin-right: 4px;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

.navbar-right > li:last-child {
    margin-right: 10px !important;
}

.navbar-right {
    float: right !important;
}

.footer {
    padding-top: 12px;
    color: grey;
}
