<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.2/css/bootstrap-dialog.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/1.2.0/jquery.serializeJSON.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.2/js/bootstrap-dialog.min.js"></script>

	<script type='text/javascript'>
        addFormStyles = function() {
            $('input[type="text"],input[type="date"],input[type="time"],input[type="number"]').addClass('form-control').addClass('my-form-control');
            $('label').addClass('control-label').addClass('my-control-label');
        };

		$(document).ready(function() {
            addFormStyles();
        });
	</script>

    {% load staticfiles %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen">

	<title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>

{% if not user.is_anonymous %}
    <span class="right spacing_top">
        <a href="{% url 'calendar' %}"><span class="glyphicon-lg glyphicon glyphicon-calendar"></span></a>&nbsp;&nbsp;
        <a href="{% url 'statistics' %}"><span class="glyphicon-lg glyphicon glyphicon-stats"></span></a>&nbsp;&nbsp;
        <a href="{% url 'user_profile' %}"><span class="glyphicon-lg glyphicon glyphicon-user"></span></a>&nbsp;&nbsp;
        &nbsp;&nbsp;<a href="{% url 'account_logout' %}"><span class="glyphicon-lg glyphicon glyphicon-log-out"></span></a>
    </span>
{% endif %}

<h1 class="logo"><a href="{% url 'calendar' %}">the egg timer</a></h1>
<span class="small">keep track of your cycles</span>

<div class="spacing_top">
{% block content %}{% endblock %}
</div>

{% block footer %}
    <div class="small center footer">Version {{ VERSION }}, Deployed {{ DEPLOY_DATE }}</div>
{% endblock %}

</body>
</html>
